@font-face {
  font-family: 'Adobe Clean';
  src: url('../fonts/AdobeClean-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Adobe Clean Bold';
  src: url('../fonts/AdobeClean-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Adobe Clean ExtraBold';
  src: url('../fonts/AdobeClean-ExtraBold.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Adobe Clean Italic';
  src: url('../fonts/AdobeClean-It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Clean Serif';
  src: url('../fonts/AdobeCleanSerif-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Adobe Clean Lite';
  src: url('../fonts/AdobeClean-Light.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Adobe Clean Lite Italic';
  src: url('../fonts/AdobeClean-LightIt.otf') format('opentype');
  font-weight: 900;
}
